$black: #000000;
$white: #ffffff;
$blue:#4b8fe2;
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  background-color: $black;
  color: $white;
  .logo {
    img {
      height: 33px;
      object-fit: cover;
    }
  }
  .user 
  {
    a{
    font-size: 23px;
text-decoration: none;
color: $white;
    }
    .active{
      color:$blue;
    }
  }
}
