.homeContainer{
margin:120px auto 40px auto;

width: 82%;
h1{
    font-size: 45px;
    font-weight: 400;

}
h2{
    font-size: 30px;
    font-weight: 400; 
    margin-bottom: 30px;
}
}
.order{
    margin-top: 100px;
    background-color: #333;
}