$red:#d0011c;
$white:#ffffff;
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.lottery-button{
background-color: $red;
color:$white;
padding: 15px 35px;
font-size: 25px;
}
.watchnow-button,.loadMore-button{
    background: rgb(242,164,35);
background: linear-gradient(90deg, rgba(242,164,35,1) 0%, rgba(178,137,21,1) 100%);
color:$white;
    padding: 24px 39px;
    font-size: 26px;
    font-weight:500;

}
.login-button{
    color:$white;
    padding: 21px 39px;
    font-size: 26px;
    font-weight:500;
margin-top: 15px;
background: rgb(240,164,36);
background: linear-gradient(90deg, rgba(240,164,36,1) 0%, rgba(186,142,22,1) 100%);
}