.container {
  display: flex;
  padding: 50px 36px 43px 46px;
  height: 100vh;

  .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    gap: 40px;
  }
  .productContainer::-webkit-scrollbar {
    display: none;
  }
}
