@import '../../styles/colors';
@import '../../styles/font-family';
@import '../../styles/mixins';

input{
    border: none;
    outline: none;
    padding:10px 0px;
    &::placeholder{
        color:$support-darkgrey;
    }
 
}

.dark{
    background-color: $support-black;
    color: $lightTheme-primary;
    &::placeholder{
        color:$support-lightgrey;
    }
 border-bottom: 1px solid $support-darkgrey;
}
.light{
    background-color: $lightTheme-primary;
    &::placeholder{
        color:$support-darkgrey;
    }

}

.search-box{
    padding:15px 20px;
    width: 350px;
    font-family: $main-font-family;
    background-color: $lightTheme-secondary;
    border-radius: 30px;

    font-size: 14px;

}
.search-box.dark{
    background-color: $darkTheme-primary;
    border: none;
    color:$support-lightgrey;
}
.newBlog-box{
    font-family: $heading-font-family;
font-size: 25px;
}
.edit-blog-title{
    font-family: $heading-font-family;
    margin: 20px 0px;
    font-weight: 500;
    font-size: 32px;
}
.edit-blog-title.dark{
    background-color: $darkTheme-primary;
    color: $lightTheme-primary;
}
