.button {
  display: inline;
  background-color: #7a1054;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 10px 23px;
  cursor: pointer;
  border: none;
  align-self: flex-start;
  margin-top: 25px;
  font-size: 18px;
}
.submit{
  padding: 10px 25px;
}