@import '../../styles/colors';
@import '../../styles/font-family';
@import '../../styles/mixins';

.dark{
    background-color: $darkTheme-primary;
    color:$lightTheme-primary;

}
.light{
    background-color: $lightTheme-primary;
    color:$support-black;
}

.home{
    @include flexbox();
   position: relative;

}
.loader {

    height: 100vh;
    width: 100%;
    @include flexbox($justify-content:center);
   
    align-items: center;
    @include flexbox-basis($basis:100%);
    flex-grow: 1;
  }