@import '../../styles/colors';
@import '../../styles/font-family';
@import '../../styles/mixins';

.blog{
    height: 438px;
    width: 755px;
    @include img(25px,25px,25px,25px);
}
.member-profile{
height: 147px;
width: 147px;
@include img(15px,15px,15px,0px)

}