@import '../../styles/colors';
@import '../../styles/font-family';
@import '../../styles/mixins';

.blog{
    height: 438px;
    width: 755px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}