$textBlue:#488ddf;
.short-teaser-card{

   
flex-basis: 32%;

flex-direction: column;
    h1{
        font-size: 26px;
        font-weight: 500;
    }
 .video{
    video{
    height: 310px;
    width: 455px;
    }
    img{
        height: 310px;
        width: 455px;
        object-fit: cover;
    }
    video::-webkit-media-controls-fullscreen-button { display: none; }
 }
 .notification{
    height: 10px;
color:#488ddf;
font-weight: 500;
font-size: 23px;
 }
 
}