.short-teaser-card{

   
flex-basis: 32%;

flex-direction: column;
    h1{
        font-size: 26px;
        font-weight: 500;
    }
 .video{
    video{
    height: 310px;
    width: 455px;
    }
 }   
}