.movie-card {
  img {
    height: 280px;
    width: 220px;
    object-fit: cover;
  }
  h1 {
    font-size: 25px;
    font-weight: 400;
  }
  .movie-details {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 20px;
      color: #fff;
    }
  }
}
