$lightwhite:#f7f7f7;
.wishListContainer {
  height: 92vh;
  flex-basis: 26%;
  background-color: $lightwhite;
  position: sticky;
  .innerContainer {
    height: 80vh;
    overflow-y: auto;
    padding: 0 39px 0px 52px;

  }
}
.tab {
  display: flex;
  padding: 42px 42px 0px;
  gap: 50px;
}
