$black: #000000;
$white: #ffffff;
.poster {
    max-height:900px;

    overflow: hidden;
  img {
   object-fit: cover;
  }
}
.lottery{
    background: rgb(210,179,41);
background: linear-gradient(90deg, rgba(210,179,41,1) 0%, rgba(187,146,27,1) 100%);
color:$white;
padding: 40px;
font-size: 22px;
font-weight: 500;
}

.container {
  display: flex;
  .trailer {
    .movie {
      img {
        width: 100%;
      }
    }
  }
}
